<app-header></app-header>

<div class="container mt-5">
    <h1 class="mb-4">Privacy Policy for AP Program</h1>
    <div *ngFor="let section of privacySections" class="terms-section">
      <h2>{{ section.title }}</h2>
      <ng-container *ngIf="isArray(section.content); else paragraphContent">
        <ul>
          <li *ngFor="let item of section.content">{{ item }}</li>
        </ul>
      </ng-container>
      <ng-template #paragraphContent>
        <p>{{ section.content }}</p>
      </ng-template>
    </div>
</div>

<app-footer></app-footer>