.spacer {
    flex: 1 1 auto;
  }

.main-content{
  background-color: #F3F4F6;
}

.hero-content {
  width:70%;
  text-align: left;
}

.title{
  font-weight: bold;
}

.description{
  color:#7A7C82;
  font-size:larger;
}

.image {
  max-width: 100%;
  border-radius: 8px;
}

.features-section, .instructors-section, .newsletter-section {
  margin: 40px 0;
  text-align: center;
}

.icon {
  width:100%;
  height:100%;
  font-size: 70px;
}

.feature-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.section-title {
  font-size: 2rem;
}

.footer {
  padding: 20px 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

.footer nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #3f51b5;
}

.active {
  font-weight: bold; 
}
  